{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <h2>Products in this category:</h2>
    <ul>
    {% for product in products %}
        <li><a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
